<header class="header">
  <a href="/" class="header__logo">My Melody</a>

  <nav class="header__nav" aria-label="Main navigation">
    <ul class="header__nav-list">
      <li class="header__nav-item">
        <a href="/" class="header__nav-link">Home</a>
      </li>
      <li class="header__nav-item">
        <a href="/about" class="header__nav-link">About</a>
      </li>
      <li class="header__nav-item">
        <a href="/contact" class="header__nav-link">Contact</a>
      </li>
    </ul>
  </nav>


<div class="header-button">
  <form action="/admin" method="GET">
    <button class="btn-cute" type="submit">
      Sign In/Register
    </button>
  </form>
</div>


    <div class="header__button">
    <button class="search-btn" aria-expanded="false" aria-label="Toggle search">
      Search
      <svg
        width="17"
        height="17"
        viewBox="0 0 17 17"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true"
      >
        <path
          d="M7.79167 13.4583C10.9213 13.4583 13.4583 10.9213 13.4583 7.79167C13.4583 4.66205 10.9213 2.125 7.79167 2.125C4.66205 2.125 2.125 4.66205 2.125 7.79167C2.125 10.9213 4.66205 13.4583 7.79167 13.4583Z"
          stroke="black"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M14.875 14.875L11.7938 11.7938"
          stroke="black"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>
  </div>
</header>
