<div class="container">
  <h2>About</h2>

  <div class="lyrics">
    <p>
      Hey Annie, well look at you<br>
      Is that a new boy stuck on your shoe?<br>
      Come on Annie, how is it so?<br>
      You've always got a new bubble to blow<br>
      I'm gonna tell you how it's gonna get done<br>
      I'm just a girl that's only chewing for fun<br>
      You spit it out when all the flavor has gone<br>
      Wrap him round your finger like you're playing with gum<br>
      Oh no, oh no, you've got it all wrong<br>
      You think you're chocolate when you're chewing gum<br>
      Oh no, oh no, a slip of the tongue<br>
      You think you're chocolate but you're chewing gum<br>
      Oh no<br><br>

      Was there anything else?<br><br>

      Hey Annie, you used to be<br>
      The only girl to take it seriously<br>
      Come on Annie, tell us your trick<br>
      On how you keep on getting boys to stick<br>
      Okay I'll tell you why I never look back<br>
      It's my selection, it's my pick of the pack<br>
      Well hot dog, I'm a chewing machine<br>
      It makes me smile and it keeps my teeth clean<br>
      Oh no, oh no, you've got it all wrong<br>
      You think you're chocolate when you're chewing gum<br>
      Oh no, oh no, a slip of the tongue<br>
      You think you're chocolate but you're chewing gum (I just wanna chew gum)<br>
      Oh no, oh no, you've got it all wrong<br>
      You think you're chocolate when you're chewing gum<br>
      Oh no, oh no, no you're not the one<br>
      You think you're chocolate but you're chewing gum<br>
      Oh no<br><br>

      I don't want to settle down<br>
      I just wanna have fun<br>
      I don't want to settle down<br>
      I just wanna chew gum<br>
      I don't want to settle down<br>
      I just wanna have fun<br>
      I don't want to settle down<br>
      I just wanna chew gum<br><br>

      Oh no, oh no, you've got it all wrong<br>
      You think you're chocolate when you're chewing gum<br>
      Oh no, oh no, a slip of the tongue<br>
      You think you're chocolate but you're chewing gum<br>
      Oh no, oh no, you've got it all wrong<br>
      You think you're chocolate when you're chewing gum<br>
      Oh no, oh no, no you're not the one<br>
      You think you're chocolate but you're chewing gum<br>
      Oh no<br><br>

      La-la-la-la-la-la-la-la-la-la-la<br>
      La-la-la-la-la-la-la-la-la-la<br>
      La-la-la-la-la-la-la-la-la-la-la<br>
      La-la-la-la-la-la-la-la-la-la<br>
      Oh no!

      <span class="quote-credit">— Annie, "Chewing Gum" 💗</span>
    </p>
  </div>
</div>
