<div class="container">
  <h2>Contact</h2>

  <div class="lyrics">
    <p>
      If ever there's a girl<br>
      That could rock your world<br>
      Then that girl sure is me 💌<br><br>
    </p>

    <ul>
      <li><strong>Email:</strong> <a href="mailto:divyamalikverma@gmail.com">divyamalikverma@gmail.com</a></li>
      <li><strong>GitHub:</strong> <a href="https://github.com/divverma2003" target="_blank">github.com/divverma2003</a></li>
      <li><strong>Phone:</strong> (123) 456-7890</li>
      <li><strong>Location:</strong> Hershey, PA</li>
    </ul>
  </div>
</div>